<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <!--<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
</head>

<body class="text-center">
<div class="container  col-md-3" style="padding-top: 70px">
    <form class="form-signin" action="/sjk/register" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class='fieldWrapper'>
            {{field.label_tag}}:{{field}}
            {{field.errors}}
        </div>
        {% endfor %}
        <div>
            <img class="mb-5" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="72">
        </div>
        <div style="text-align: left"><label for="name">用户名</label></div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>

            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1" id="name" name="name">
        </div>
        <div style="text-align: left"><label for="password">密码</label></div>
        <div>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                   aria-describedby="basic-addon1" id="password" name="password">
        </div>
        <div style="text-align: left;padding-top: 10px"><label for="re_password">再次输入密码</label></div>
        <div>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                   aria-describedby="basic-addon1" id="re_password">
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 同意协议
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>

    </form>
</div>
</body>
</html>
